.famille{
  ion-avatar {
    background-color: #99CCE4;
    border-radius: 22px;
    color: white;
    ion-icon{
      margin: 9px;
    }

  }
  .ion-ios-checkmark-circle{
    color: #2ec95c;
  }

  .ion-ios-add-circle{
    color: #3474e1;
  }

  .avatar {
    border-radius: 50%;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }

}
