<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Watson</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="popOverAgent($event)" >
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (click)="outsideKeyboard($event)">
  <ion-list no-lines>

      <ion-row *ngFor="let m of messages" >
        <ion-col width-20 *ngIf="m.title == 'Watson'">
          <img class="icon-bulle bulle" src="assets/images/{{m.title}}.png"/>
        </ion-col>

        <ion-col width-80>
          <ion-card [ngClass]="{'vous': m.float === 'right'}" >
            <ion-card-header class="entete" >
              {{m.title}}
            </ion-card-header>

            <ion-card-content>
              {{m.message}}
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col width-20 *ngIf="m.title == 'Vous'">
          <img class="icon-bulle-vous bulle" src="assets/images/{{m.title}}.png"/>
        </ion-col>
      </ion-row>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col width-70>
        <ion-item>
          <input type="text" placeholder="Message" [(ngModel)]="message">
        </ion-item>
      </ion-col>
      <ion-col class="bouton" width-15>
        <button ion-button icon-only round (click)="postMessage($event, message)">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="bouton" width-15>
        <button ion-button icon-only round (click)="listenMessage($event)" [ngClass]="{'red': record}">
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
