page-page1 {
	ion-card-header.entete {
		font-size: 12px;
    	font-weight: 600;
    	color: #7d7d7d;
	}
	.vous {
    text-align: right;
	}
  ion-footer{
    input {
      width: 100%;
      border: none;
    }
	}
}
