page-page1 {
  .card-ios {
    border-radius: 15px;
    background-color: #387ef5;
    color: white;
  }

	ion-card-header.entete {
		font-size: 14px;
    	font-weight: 600;
    	color: white;
	}

	.vous {
    text-align: right;
	}

  ion-footer{
    input {
      width: 100%;
      border: none;
    }
    .bouton{
      width: 15%;
    }
	}

  ion-col[width-70] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }

  ion-col[width-15] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }

  .red {
    background-color:red;
  }
  .icon-bulle {
    margin-top: 35%;
    margin-left: 14%;
  }
  .icon-bulle-vous {
    margin-top: 10%;
  }

  .bulle {
    border-radius: 50%;
    border: 5px solid #F2F8F9;
    width: 60px;
    height: 60px;
    margin-right: 14%;
  }

  .response-50 {
    width: 49%;
  }
}
